* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 15px auto;
    background-color: #b3c5e1;
    /* border: 2px solid yellow; */
    width: 80%;
}

#nav-bar {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    background-color:rgb(178, 189, 211);
    box-shadow:inset 0 0 5px 2px #888;
}

 #left-links, #right-links{
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.link {
    /* border: 1px solid red; */
    width: 45%;
    text-align: center;
    font-size: large;
    margin: 5px;
}

button {
    border-radius: 10px;
    background-color: #cdd4df;
    box-shadow:inset 0 0 5px 2px #888;
}

/* .link:hover {
    font-size: large;
} */

a:hover {
    text-decoration: underline;
    color: #f48b5a;
    font-size:large;
}


h4 a:hover {
    font-size: larger;
}

.heading {
    /* border: 1px solid green; */
    width: 25%;
    text-align: center;
}

.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted purple;
}

.subsection-1 {
    margin-top: 15px;
    border: 1px solid red;
    text-align: center;
}
h3 {
    margin-top: 15px;
}

.subsection-2 {
    margin-top: 35px;
    width: 80%;
    display: flex;
    border: 1px solid blue;
}

.p-section, .a-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px orange solid;

}

.mock-image {
    width: 55%;
    width: 200px;
    background-color: yellow;
    border: 1px solid chocolate
}

h4, h6 {
    margin-top: 10px;
}

/* buildP.html specific */